<launch>

    <arg name="xbot" default="false" />
    <arg name="closed_loop" default="false"/>

    <remap if="$(arg xbot)" from="/robot_description" to="/xbotcore/robot_description"/>
    <remap if="$(arg xbot)" from="/robot_description_semantic" to="/xbotcore/robot_description_semantic"/>

    <node pkg="kyon_controller" type="controller" name="centauro_controller_node" output="screen">
        <param name="config" textfile="$(find kyon_controller)/config/centauro_controller_config.yaml"/>
        <param name="rate" value="700"/>
    </node>

    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="autorepeat_rate" value="20"/>
    </node>

    <node pkg="kyon_controller" type="centauro_receding_horizon.py" name="mpc_node" output="screen">
        <param name="xbot" value="$(arg xbot)"/>
        <param name="closed_loop" value="$(arg closed_loop)"/>
    </node>
</launch>
