<launch>
    <arg name="gui" default="true"/>

    <param name="robot_description"
         command="$(find xacro)/xacro $(find cogimon_urdf)/urdf/cogimon.urdf.xacro"/>
         <param name="robot_description_semantic"
              command="$(find xacro)/xacro $(find cogimon_srdf)/srdf/cogimon.srdf.xacro"/>

    <node pkg="kyon_controller" type="controller" name="cogimon_controller_node" output="screen">
        <param name="config" textfile="$(find kyon_controller)/config/cogimon_controller_config.yaml"/>
    </node>

    <node if="$(arg gui)" pkg="rviz" type="rviz" name="rviz" args="-d $(find kyon_controller)/config/kyon_controller.rviz"/>
</launch>
