<launch>
    <node pkg="kyon_controller" type="controller" name="centauro_controller_node" output="screen">
        <param name="config" textfile="$(find kyon_controller)/config/cogimon_controller_config.yaml"/>
        <param name="rate" value="1000"/>
    </node>

    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="autorepeat_rate" value="20"/>
    </node>

    <node pkg="kyon_controller" type="cogimon_receding_horizon.py" name="mpc_node" output="screen"/>
</launch>
