<launch>
    <arg name="xbot2_config" default="$(find cogimon_config)/cogimon_basic.yaml"/>

    <param name="robot_description"
         command="$(find xacro)/xacro $(find cogimon_urdf)/urdf/cogimon_robot.urdf.xacro floating_joint:=true"/>

    <param name="robot_description_semantic"
         command="$(find xacro)/xacro $(find cogimon_srdf)/srdf/cogimon.srdf.xacro floating_joint:=true"/>

    <include file="$(find cogimon_gazebo)/launch/cogimon_world.launch" pass_all_args="true"/>

    <node pkg="kyon_controller" type="xbot2_core" name="xbot2" output="screen"
        args="--hw sim --simtime --config $(arg xbot2_config)"/>
</launch>
