<launch>
    <node pkg="kyon_controller" type="controller" name="kyon_controller_node" output="screen">
        <param name="config" textfile="$(find kyon_controller)/config/concert_controller_config.yaml"/>
        <param name="rate" value="1000"/>
    </node>

<!--     <node pkg="joy" type="joy_node" name="joy_node"> -->
<!--         <param name="autorepeat_rate" value="20"/> -->
<!--     </node> -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find kyon_controller)/rviz/concert.rviz" />

    <node pkg="kyon_controller" type="concert_receding_horizon.py" name="mpc_node" output="screen"/>
</launch>
