<launch>

    <arg name="xbot" default="false" />
    <arg name="joy" default="false" />
    <arg name="closed_loop" default="false" />

    <node pkg="kyon_controller" type="controller" name="kyon_controller_node" output="screen">
        <param name="config" textfile="$(find kyon_controller)/config/kyon_controller_config.yaml"/>
        <param name="rate" value="1000"/>
    </node>

    <node pkg="joy" type="joy_node" name="joy_node" if="$(arg joy)">
        <param name="autorepeat_rate" value="20"/>
    </node>

    <node pkg="kyon_controller" type="kyon_receding_horizon.py" name="mpc_node" output="screen">
        <param name="xbot" value="$(arg xbot)"/>
        <param name="joy" value="$(arg joy)"/>
        <param name="closed_loop" value="$(arg closed_loop)"/>
    </node>
</launch>
