<launch>
    <arg name="legs" default="true"/>
    <arg name="arms" default="true"/>
    <arg name="wheels" default="true"/>
    <arg name="sensors" default="false"/>
    <arg name="dagana" default="true"/>
    <arg name="xbot2_config" default="$(find kyon_config)/kyon_basic.yaml"/>

    <include file="$(find kyon_gazebo)/launch/kyon_world.launch" pass_all_args="true"/>

    <node pkg="kyon_controller" type="xbot2_core" name="xbot2" output="screen"
        args="--hw sim --simtime --config $(arg xbot2_config)"/>
</launch>
